<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.dentist.halodent">

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.HaloDent">
        <activity
            android:name=".SignIn.MainActivity"
            android:exported="true"
            android:label="@string/title_activity_main2" />
        <activity
            android:name=".Home.DetailDokterActivity"
            android:exported="true" />
        <activity
            android:name=".SignIn.LupaPasswordSendActivity"
            android:exported="true"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".Profile.ScoreActivity"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".Profile.KuesionerActivity"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".Profile.MainQuizActivity"
            android:theme="@style/AppTheme" />

        <service
            android:name=".Notification.ChatMessagesService"
            android:enabled="true"
            android:exported="false">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>

        <activity android:name=".Chat.GroupInfoActivity" />
        <activity
            android:name=".Info.DetailTopikActivity"
            android:configChanges="orientation|screenSize" />
        <activity android:name=".Home.ListKonselorActivity" />
        <activity
            android:name=".Chat.GroupActivity"
            android:theme="@style/ActionBar" />
        <activity android:name=".Home.DetailKonselorActivity" />
        <activity android:name=".Profile.EditProfileActivity" />
        <activity
            android:name=".SignIn.LupaPasswordActivity"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".SignUp.Step4Activity"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".SignUp.Step3Activity"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".SignUp.Step2Activity"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".SignUp.Step1Activity"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".SignUp.SignUpActivity"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".SignIn.SignInActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme" />
        <activity android:name=".OnBoarding.OnBoardingActivity" />
        <activity
            android:name=".OnBoarding.SplashActivity"
            android:exported="true"
            android:theme="@style/AppTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>